{% from "macros/inventoryform_macro.html" import render_field %}

{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<h1>Welcome to Inventory!</h1>

{% with updatemessages = get_flashed_messages(category_filter=["updated_inventory_success"]) %}

    {% for updatemessage in updatemessages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ updatemessage }}
        </div>
    {% endfor %}

{% endwith%}

{% with updatedquantitymessages = get_flashed_messages(category_filter=["updated_quantity_inventory_success"]) %}

    {% for updatedquantitymessage in updatedquantitymessages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{updatedquantitymessage}}
        </div>
    {% endfor %}

{% endwith%}

<table  class="table table-striped">
    <tr>
        <th>Product Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    
    {% for inventory in inventorys %}
    <tr>
    	<td>{{ inventory['itemname'] }}</td>
    	<td>{{ inventory['price'] }}</td>
    	<td>{{ inventory['quantity'] }}</td>
    	<td><a href="{{url_for('.edit_inventory', objid=inventory['_id'])}}">Edit</a> | 
    		<a href="{{url_for('.editquantity_inventory', objid=inventory['_id'])}}">Edit Quantity</a></td>
    </tr>
    {% endfor %}
    
    <tr>
    	<td colspan="4">&nbsp;</td>
    </tr>

    <tr>
    	<td colspan="4">Pagination</td>
    </tr>
</table>

<h2>Add Inventory Product</h2>

{% with messages = get_flashed_messages(category_filter=["create_inventory_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_inventory')}}">
    <!--
    <input class='form-control' type='text' name='item_name' placeholder='Item Name'/>
    <input class='form-control' type='text' name='price' placeholder='Item Price'/>
    <input class='form-control' type='text' name='quantity' placeholder='Item Quantity'/>
	-->
    <dl>
    {{ render_field(form.itemname) }}
    {{ render_field(form.price) }}
    {{ render_field(form.quantity) }}
    <!--<input type="hidden" name="username" value="dennis">-->
    </dl>
    {% with messages_failed = get_flashed_messages(category_filter=["inventorys_failure"]) %}
    {% for message_failed in messages_failed %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message_failed}}
        </div>
    {% endfor %}
    {% endwith%}
    <input class='btn btn-primary' type='submit' />{{ inventorydata }}
</form>

{% endblock %}




