{% from "macros/inventoryform_macro.html" import render_field %}

{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}


<h1>Edit Inventory Product</h1>

{% with messages = get_flashed_messages(category_filter=["edit_inventory_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

{% for item in inventory %}
<form class='form-inline' method='post' action="{{url_for('.edit_inventory', objid=item['_id'])}}">
    
    
    <dl>
    {{ render_field(form.itemname, item['itemname']) }}
    {{ render_field(form.price, item['price']) }}
    {{ render_field(form.quantity, item['quantity']) }}
    <!--<input type="hidden" name="username" value="dennis">-->
    </dl>
    

    {% with messages_failed = get_flashed_messages(category_filter=["inventorys_failure"]) %}
    {% for message_failed in messages_failed %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message_failed}}
        </div>
    {% endfor %}
    {% endwith%}
    <input class='btn btn-primary' type='submit' />
</form>
{% endfor %}

{% endblock %}




