{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}


<script type="text/javascript">

    $(document).ready(function(){
        
        $( "input[name^='quantity_']" ).keyup(function() {
            
            var currentId = $(this).attr('value');
            var curval = $('#'+$(this).attr('id')).val()
            var strsplitval = $(this).attr('id').split('_')
        
            totalprice = curval * $("#price_"+strsplitval[1]).val()
            
            $("#span_"+strsplitval[1]).html(totalprice);

            var sum = 0;
            $("span[id^='span_']").each(function(index) {

                var spancoll = $("#"+$(this).attr('id')).html();
                
                sum += Number(spancoll);
                
            });
            
            $("#total").html(sum);
            
        });

        var sum = 0;
        $("span[id^='span_']").each(function(index) {

            var spancoll = $("#"+$(this).attr('id')).html();
            
            sum += Number(spancoll);
            
        });
        
        $("#total").html(sum);

    });

</script>

<h1>Your Cart!</h1>

<table  class="table table-striped">
    <tr>
        <th>Product Item</th>
        <th>Price</th>
        <th>Order Quantity</th>
        <th>Order Price</th>
    </tr>
    
    {% for viewcart in viewcarts %}
    <tr>
    	<td>{{ viewcart['itemname'] }}</td>
    	<td>{{ viewcart['price'] }}</td>
    	<td><input id="quantity_{{ viewcart['_id'] }}" name="quantity_{{ viewcart['_id'] }}" type="text" value="1"> pcs</td>
    	<td><input id="price_{{ viewcart['_id'] }}" name="price_{{ viewcart['_id'] }}" type="hidden" value="{{ viewcart['price'] }}"> &#8369; <span id="span_{{ viewcart['_id'] }}">{{ viewcart['price'] }}</span></td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">Total Price</td>
        <td>&#8369; <span id="total"></span></td>
    </tr>
    <tr>
    	<td colspan="4">&nbsp;</td>
    </tr>

    
</table>



{% endblock %}




