{% from "macros/inventoryform_macro.html" import render_field %}

{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<h1>Welcome to Shopping Cart!</h1>

<table  class="table table-striped">
    <tr>
        <th>Product Item</th>
        <th>Price</th>
        <th>Available Quantity</th>
        <th>Action</th>
    </tr>
    
    {% for inventory in inventorys %}
    <tr>
    	<td>{{ inventory['itemname'] }}</td>
    	<td>{{ inventory['price'] }}</td>
    	<td>{{ inventory['quantity'] }}</td>
    	<td><a href="{{url_for('.addtocart', objid=inventory['_id'])}}">Add to cart</a></td>
    </tr>
    {% endfor %}
    
    <tr>
    	<td colspan="4">&nbsp;</td>
    </tr>

    <tr>
    	<td colspan="4">Pagination</td>
    </tr>
</table>



{% endblock %}




